body{
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
}

.head_list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    
}

.icon_head{
    width: 100%;
    height: 100%;
    top: 15px;
    gap: 0px;
    opacity: 0px;
    margin-top: 3px;
}

.l_head{
    width: 730px;
    height: 80px;
    left: 460.1px;
    gap: 0px;
    opacity: 0px;
}
.user_icon{
width: 36px;
height: 32px;
top: 22.25px;
}

.chariot_icon{
    width: 36px;
    height: 32px;
    top: 51.5px;
    left: 1103.41px;
    padding: 0.25px 0.01px 0.25px 0px;
}

.head1{
    width: 100%;
    padding: 10px;
    height: 65px;
    left: 150px;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
}

.icon_top_right{
    margin-top: 23px;
    margin-left: 184px;
}

/* Style pour la navbar */
.head_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.head_list li {
    float: left;
    display: inline;
    padding: 14px 16px;
    color: black;
    cursor: pointer;
}

.head_list li:hover {
    background-color: #8f8669;
}

/* Style pour le menu déroulant */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #8f8669;
    box-shadow: 0px 8px 16px 0px rgba(250, 249, 249, 0.2);
    z-index: 1;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 12px 16px;
    color: white;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
}

.dropdown-menu li:hover {
    background-color: #575757;
}

.section1 h1{
    text-align: center;
    font-size: 3rem;
    color: #3CB3CD;
}


.s1 h3{
    font-size: 2rem;
    margin-left: 4rem;
    color: #3CB3CD;
}

.s1 p{
    width: 60rem;
    font-size: 30px;
    margin-left: 8rem;
}

.s1 strong{
    color: #3CB3CD;
}

.s1 li{
    width: 60rem;
    font-size: 30px;
    margin-left: 8rem;
}

.section2{
    width: 72rem;
    background-color: #3cb3cd8f;
    height: 17rem;
    border-radius: 89px;
    margin-left: 17rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.img_sff, .img_cmp,.img_sinc{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 11px;
}


.footer{
    background-color: #D6CDAE;
    width: 100%;
    height: 458.55px;
    margin-top: 3rem;
}
.footer1{
    display: flex;
    justify-content: space-around;
    padding-top: 65px;
}
.img_foot{
    width: 109px;
    height: 149.12px;
    margin-top: 22px;
}
h4{
    color: #ffffff;
    text-align: left;
    font-family: sans-serif;
}
.para_foot{
    color: #ededed;
    text-align: left;
    font-family: Montserrat;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 300;
}

.footer2{
    display: flex;
    justify-content: space-around;
    padding-top: 65px;
}
span{
color: #ffffff;
font-family: Montserrat;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: left;
width: 350px;
height: 28px;
top: 320.15px;
}
.img_pym{
width: 384px;
height: 28.8px;
top: 303.75px;
left: 756px;
}